.main-page,
.main-page-other {
  background: #000;
  padding-top: 8vh;
  width: 100%;
  height: 92vh;
  overflow-y: auto;
  font-weight: 500;
  color: #cf8f2a;
}

.main-page-other {
  background: #fff;
  color: #fd79a8;
}

.wrapper-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.introduction {
  width: 100%;
  height: 100%;
  text-indent: 30px;
  text-align: justify;
  line-height: 1.7;
}

.wrapper-avatar {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.avatar-artist {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.wrapper-avatar:hover .avatar-artist {
  transform: scale(1.2);
}

.name-artist {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Pacifico";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  height: 65px;
  transition: all 0.5s;
}

.type-artist {
  font-size: 14px;
  font-family: "Poppins";
}

.wrapper-avatar:hover .name-artist {
  transform: translateY(-65px);
}
